.Pokecard {
  background-color: lightgrey;
  text-align: center;
  width: 15%;
  padding: 10px 20px;
  padding-bottom: 25px;
  border-radius: 10px;
  margin: 1.5rem;

  display: flex;
  flex-direction: column;
}

.Pokecard h2 {
  color: blue;
}

.Pokecard img {
  width: 80%;
  margin: 0 auto;
}