.Pokecard {
  background-color: lightgrey;
  text-align: center;
  width: 15%;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 1.5rem;

  display: flex;
  flex-direction: column;
}

.Pokecard h2 {
  color: blue;
  margin: 0;
}

.Pokecard img {
  width: 100%;
  margin: 0 auto;
}